body {
  display: block;
  background-color: white;
  margin: 0 auto;
  max-width: 500px;
  color: #eef6f6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*DANIEL*/

.nav {
  display: flex;
  flex-direction: row;
}
.logo {
  width: 50%;
}
.burgermenu {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.infobox {
  width: 100%;
  height: 500px;
  background-color: #eef6f6;
  border-radius: 20px;
  color: black;
}
.mentorimg,
.vejledningimg {
  display: flex;
}

.img1,
.img2 {
  background-color: #eef6f6;
  width: 100%;
  height: 200px;
  border-radius: 15px;
  margin-top: 50px;
}

h2 {
  text-align: center;
}

.fronth1 {
  width: 175px;
}

/*JULIE*/

/*ANDREA*/
.containerBody {
  background-color: #598590;
  padding: 30px;
}
hr {
  border-top: 3px dotted #eef6f6;
  border-bottom: none;
}

button {
  background-color: #e2b1b6;
  border-radius: 10px;
  border-style: none;
  padding: 5px 20px;
  margin-top: 10px;
}
select {
  border-radius: 10px;
  padding: 5px 0px;
  border-style: none;
  width: 80%;
  color: #707070;
}
.checkbox {
  padding: 10px;
}
.h1l {
  text-align: center;
}
input {
  border-radius: 10px;
  border-style: none;
  padding-top: 5px 0px;
  padding-bottom: 5px;
  width: 80%;
  color: #707070;
}
a {
  text-decoration: none;
  color: #707070;
}

* {
  margin: 0;
}

.menuItem {
  display: block;
  margin: 30px;
  color: #707070;
  text-decoration: none;
}

.burger {
  z-index: 100;
  cursor: pointer;
  padding: 0px;
  background-color: #598590;
  color: #eef6f6;
}

.closeIcon {
  display: none;
  color: #707070;
  background-color: #c0dfe2;
}

.menu {
  position: fixed;
  transform: translatex(1000px);
  transition: transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #c0dfe2;
  color: #707070;
  list-style: none;
  padding-top: 4rem;
  width: 400px;
  margin-left: 100px;
}

.showMenu {
  transform: translatex(0);
}

/*KATHRINE*/

/*MICHELLE*/
