
/*mobil version*/
@media only screen and (max-width: 500px) {
  * {
      margin: 0;
  }
  body{
      display: flex;
      flex-direction: column;
    background-color: lightgrey;
  }

/*DANIEL*/

  .nav{
    display: flex;
    flex-direction: row
  }
  .logo{
    width: 50%;
  }
  .burgermenu{
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

/*JULIE*/

/*ANDREA*/

/*KATHRINE*/

/*MICHELLE*/


}
