body {
  display: block;
  margin: 0 auto;
  color: #eef6f6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #598590;
  padding: 40px;
  max-width: 500px;
}

/*DANIEL*/

.nav {
  display: flex;
  flex-direction: row;
}
.logo {
  width: 50%;
}
.burgermenu {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.infobox {
  width: 100%;
  height: 500px;
  background-color: #eef6f6;
  border-radius: 20px;
  color: #707070;
}
.mentorimg,
.vejledningimg {
  display: flex;
}

.img1,
.img2 {
  background-color: #eef6f6;
  width: 100%;
  height: 200px;
  border-radius: 15px;
  margin-top: 50px;
}

h2 {
  text-align: center;
  margin: 10px;
}

.fronth1 {
  width: 175px;
}

/*JULIE*/

/*ANDREA*/
header {
  margin-bottom: 40px;
}
hr {
  border-top: 3px dotted #eef6f6;
  border-bottom: none;
  display: block;
  margin: 10px auto 0px auto;
}

button {
  background-color: #e2b1b6;
  border-radius: 10px;
  border-style: none;
  margin-top: 10px;
  width: 100%;
  height: 30px;
  color: #707070;
  font-weight: bold;
}
select {
  border-radius: 10px;
  border-style: none;
  width: 100%;
  height: 30px;
  color: #707070;
}
.checkbox {
  padding: 10px;
}
.h1l {
  text-align: center;
}
input {
  border-radius: 10px;
  border-style: none;
  width: 100%;
  height: 30px;
  color: #707070;
}
a {
  text-decoration: none;
  color: #707070;
}

* {
  margin: 0px;
}

.menuItem {
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  color: #707070;
  text-decoration: none;
  width: fit-content;
}

.burger {
  color: #eef6f6;
  background-color: #598590;
  width: auto;
}

.menu {
  position: fixed;
  transform: translatex(100%);
  transition: transform 0.5s;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: #c0dfe2;
  color: #707070;
  list-style: none;
  width: 100%;
  max-width: 420px;
  padding: 40px;
}

.showMenu {
  transform: translatex(0);
}

.logo {
  width: 150px;
}
.checkbox {
  width: auto;
}
h3 {
  margin: 10px;
}
.menu hr {
  border-top: 3px dotted #598590;
  margin-bottom: 40px;
  margin-left: 50%;
  width: 50%;
}

/*KATHRINE*/

/*MICHELLE*/
