body {
  display: block;
  margin: 0 auto;
  color: #eef6f6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #598590;
  padding: 40px;
  max-width: 500px;
  min-height: 800px;
}

/*DANIEL*/

.nav {
  display: flex;
  flex-direction: row;
}
.logo {
  width: 50%;
  border-radius: 0;
}
.burgermenu {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  margin-left: 15%;
}

.mentorimg,
.vejledningimg {
  display: flex;
}
.infoboxmentor h3{
  text-align: center;
  padding: 20px 0px;
}
.mentortekst h4,
.vejledningtekst h4{
  padding: 20px 0px;
}
.mentortekst p,
.vejledningtekst p{
  padding-bottom: 20px;
}

.img1,
.img2 {
  background-color: #eef6f6;
  width: 100%;
  height: 200px;
  border-radius: 15px;
  margin-top: 50px;
}

h2 {
  text-align: center;
  margin: 10px;
  font-size: 30px;
  padding-top: 20px;
  font-weight:bold;
  padding-bottom: 20px;
}

.fronth1 {
    font-size: 40px;
  font-weight: 250;
}
.bread ul{
  list-style: none;
  margin-left: -10%;
}
.bread a{
  color: white;
  font-size: 10px;
}
.show{
display: flex;
justify-content: flex-end;
margin-top: 5px;
}

.show1{
margin-right: 10px;
box-shadow: none;
}
.show2{
  padding-top: 2px;
  margin-top: 5px;
}

.checkbox {
display: flex;
height: 30px;
}
.check1{
  margin-right: 10px;
}
.checkt{
  font-size: 12px;
  padding-top: 2px;}

.loginBut{
  background-color: #e2b1b6;
  border-radius: 30px;
  border-style: none;
  margin-top: 120px;
  width: 100%;
  height: 40px;
  color: #707070;
  font-weight: bold;
  font-size: large;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/*JULIE*/
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow */
.slideshow {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Next & previous knapper */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position for "next button" på højre side */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number tekst (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*ANDREA*/
header {
  margin-bottom: 40px;
}
hr {
  border-top: 3px dotted #eef6f6;
  border-bottom: none;
  display: block;
  margin: 10px auto 0px auto;
}

button {
  background-color: #e2b1b6;
  border-radius: 30px;
  border-style: none;
  margin-top: 10px;
  width: 100%;
  height: 40px;
  color: #707070;
  font-weight: bold;
  font-size: large;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.tidbut{
  margin-top: 40px;
}
select {
  border-radius: 20px;
  border-style: none;
  width: 100%;
  height: 30px;
  color: #707070;
}
.checkbox {
  padding: 10px;
  width: auto;
  box-shadow: none;
}
.h1l {
  text-align: center;
  font-size: 40px;
  font-weight: 250;
}
input {
  border-radius: 30px;
  border-style: none;
  width: 100%;
  height: 50px;
  color: #707070;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#selektboksA{
  margin-bottom: 10px;
  height: 50px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
a {
  text-decoration: none;
  color: #707070;
  
}

* {
  margin: 0px;
}

.menuItem {
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  color: #707070;
  text-decoration: none;
  width: fit-content;
}

.burger {
  color: #eef6f6;
  background-color: #598590;
  width: auto;
  box-shadow: none;
}

.menu {
  position: fixed;
  transform: translatex(100%);
  transition: transform 0.5s;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: #c0dfe2;
  color: #707070;
  list-style: none;
  width: 100%;
  padding: 40px;
}

.showMenu {
  transform: translatex(0);
}

.logo {
  width: 150px;
}

h3 {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 250;
}

.menu hr {
  border-top: 3px dotted #598590;
  margin-bottom: 40px;
  margin-left: 50%;
  width: 50%;
}
.infoh3{
  font-weight: bold;
}
.cardfront{
  background-color: #c0dfe2;
  border-radius: 30px;
  padding: 20px;
  margin-top: 20px;
  color: #707070;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}
h1{
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.indexbut{
  background-color: #598590;
  color: #eef6f6;
  height: 40px;
  font-size: 20px;
  font-weight: normal;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}

p{
  line-height: 25px;
}
img{
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}
.findH3{
   text-align: center;
  padding: 20px 0px;
}

/*KATHRINE*/
.dropdown {
   position: absolute;
   width: 420px;
   height: 50px;
}

.dropdown::before {
   content: "";
   position: absolute;
   top: 15px;
   right: 20px;
   z-index: 1000;
   width: 5px;
   height: 5px;
   border: 5px solid #333;
   border-top: 0px;
   border-right: 0px;
   transform: rotate(-45deg);
   transition: 0.2s;
   pointer-events: none;

}

.dropdown.active::before {
   transform: rotate(-225deg);
}

.dropdown input {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   cursor: pointer;
   background: #fff;
   font-size: 1.2em;
   border: none;
   outline: none;
   border-radius: 30px;
}

.dropdown .options {
   position: absolute;
   top: 70px;
   width: 100%;
   background: #fff;
   border-radius: 20px;
   color: #1a1c1c;
   overflow: hidden;
   display: none;
}

.dropdown.active .options {
   display: block;
}

.dropdown .options div {
   padding: 12px 20px;
   cursor: pointer;
}
/*slides*/

.infom {
    height: 151px;
    width: 505px;
    background-color: #eee;
    margin: 0 auto;
}
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/*MICHELLE*/
.wrapper{
  width: 100%;
  max-width: 500px;
  height: auto;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
.current-date {
  color: #707070;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
header .current-date{
  font-size: 20px;
  font-weight: 500;
}
.calendar{
  padding: 10px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 12px;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 15px;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before{
  background: #e2b1b6;
}
.days li:not(.active):hover::before{
  background: #f2f2f2;
}
