body {
  display: block;
  margin: 0 auto;
  color: #eef6f6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #598590;
  padding: 40px;
  max-width: 500px;
  min-height: 800px;
}

/*DANIEL*/

.nav {
  display: flex;
  flex-direction: row;
}
.logo {
  width: 50%;
}
.burgermenu {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.infobox {
  width: 100%;
  height: 500px;
  background-color: #eef6f6;
  border-radius: 20px;
  color: #707070;
}
.mentorimg,
.vejledningimg {
  display: flex;
}

.img1,
.img2 {
  background-color: #eef6f6;
  width: 100%;
  height: 200px;
  border-radius: 15px;
  margin-top: 50px;
}

h2 {
  text-align: center;
  margin: 10px;
}

.fronth1 {
  width: 175px;
}
.bread ul{
  list-style: none;
}
.bread a{
  color: white;
}
.show{
display: flex;
justify-content: flex-end;
}
.show1{
margin-right: 10px;

}
.show2{
  margin-top: 5px;
}

.loginBut{
  background-color: #e2b1b6;
  border-radius: 10px;
  border-style: none;
  margin-top: 10px;
  width: 100%;
  height: 30px;
  color: #707070;
  font-weight: bold;
}

/*JULIE*/
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow */
.slideshow {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Next & previous knapper */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position for "next button" på højre side */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number tekst (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*ANDREA*/
header {
  margin-bottom: 40px;
}
hr {
  border-top: 3px dotted #eef6f6;
  border-bottom: none;
  display: block;
  margin: 10px auto 0px auto;
}

button {
  background-color: #e2b1b6;
  border-radius: 10px;
  border-style: none;
  margin-top: 10px;
  width: 100%;
  height: 30px;
  color: #707070;
  font-weight: bold;
}
select {
  border-radius: 10px;
  border-style: none;
  width: 100%;
  height: 30px;
  color: #707070;
}
.checkbox {
  padding: 10px;
  width: auto;
}
.h1l {
  text-align: center;
}
input {
  border-radius: 10px;
  border-style: none;
  width: 100%;
  height: 30px;
  color: #707070;
}
a {
  text-decoration: none;
  color: #707070;
}

* {
  margin: 0px;
}

.menuItem {
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  color: #707070;
  text-decoration: none;
  width: fit-content;
}

.burger {
  color: #eef6f6;
  background-color: #598590;
  width: auto;
}

.menu {
  position: fixed;
  transform: translatex(100%);
  transition: transform 0.5s;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: #c0dfe2;
  color: #707070;
  list-style: none;
  width: 100%;
  max-width: 420px;
  padding: 40px;
}

.showMenu {
  transform: translatex(0);
}

.logo {
  width: 150px;
}

h3 {
  margin: 10px;
}
.menu hr {
  border-top: 3px dotted #598590;
  margin-bottom: 40px;
  margin-left: 50%;
  width: 50%;
}

/*KATHRINE*/
.container {
   width: 100%;
   min-height: 100vh;
}

.dropdown {
   position: absolute;
   top: 50px;
   margin-top: 15px;
   width: 300px;
   height: 50px;
}

.dropdown::before {
   content: "";
   position: absolute;
   top: 15px;
   right: 20px;
   z-index: 1000;
   width: 5px;
   height: 5px;
   border: 5px solid #333;
   border-top: 0px;
   border-right: 0px;
   transform: rotate(-45deg);
   transition: 0.2s;
   pointer-events: none;

}

.dropdown.active::before {
   transform: rotate(-225deg);
}

.dropdown input {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   cursor: pointer;
   background: #fff;
   font-size: 1.2em;
   border: none;
   outline: none;
   border-radius: 10px;
}

.dropdown .options {
   position: absolute;
   top: 70px;
   width: 100%;
   background: #fff;
   border-radius: 10px;
   overflow: hidden;
   display: none;
}

.dropdown.active .options {
   display: block;
}

.dropdown .options div {
   padding: 12px 20px;
   cursor: pointer;
}
/*slides*/

.slideK {
    display: flex;
    list-style: none;
    transition: all 1s ease;
}

.slider {
  width: 450px;
  height: 250px;
  overflow: hidden;
  border-radius: 3px;

}

.infom {
  width: 450px;
  height: 250px;
  border-radius: 3px;
}

/*MICHELLE*/
